* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.col-12 > button {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.drop-down-container {
    display: grid;
    grid-template-columns: auto auto;
}